.collapsible-container {
  width: 100%;
  /*max-width: 350px;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  background-color: black;
  color: white;


}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;


}

.collapsible-arrow {
  width: 8px;
  height: 8px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  transform: rotate(135deg);
  transition: transform 0.2s ease-in-out;
}

.collapsible-arrow.expanded {
  transform: rotate(315deg);
}

.collapsible-content {
  padding: 12px;
}

.first-content {
  background-color: white;
  color: black;
  width: 100%;
  height: auto;
  align-items: center;
}

.compone {
  background-color: white;
}

.tarjeta {
  background-color: white;
  color: black;
  height: 20vh;
  border-radius: 5px;
}