.login-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 600px) {
    .login-container {
        padding: 5rem;
        border: 5px solid black;
        border-radius: 10px;
        margin: 0.5rem;
        background-color: white;
    }
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.9rem 0;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 20px;
}

button {
    border: 10px solid white;
    background-color: #47525E;
    padding: 15px;
    border-radius: 30px;
    color: white;
}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}